<div class="container">
    <div class="bodyPrincipal" [ngStyle]="{ 'background': actuelMessages.length <= 0 ? 'white' : '' }">
        <div class="headerNav">
            <button>
                <hugeicons-icon [icon]="Menu02Icon" [size]="22" color="#222325" [strokeWidth]="1.5"></hugeicons-icon>
                <div>Historiques</div>
            </button>
        </div>
        <div *ngIf="actuelMessages.length <= 0" class="bodyElement">
            <div class="bodyElementTitle">
                <h1>Hi, Gustavo <br> What can i help you with?</h1>
                <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification</p>
            </div>
            <div class="bodyElementContent">
                <textarea name="" id="">Le lorem ipsum est, en imprimerie.....</textarea>
                <div class="suggestElement">
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                    <div class="gridItem">
                        <hugeicons-icon [icon]="Clock04Icon" [size]="22" color="#222325"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div>Le lorem ipsum est, en imprimerie.....</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="actuelMessages.length > 0" class="bodyElementBRE">
            <div class="messagesDivCntr">
                <div class="chat-container">
                    <div class="chat-messages">
                        <div *ngFor="let msg of actuelMessages"
                            [ngClass]="msg.from === 'user' ? 'message user' : 'message bot'">
                            <img class="avatar" [src]="msg.from === 'user' ? userAvatar : botAvatar" alt="avatar">
                            <div class="bubble">
                                {{ msg.text }}
                            </div>
                        </div>
                        <div #scroll></div>
                    </div>
                </div>
            </div>
            <div class="messageInputCtnr">
                <div class="input-wrapper">
                    <button type="button" class="btn-left" (click)="onUpload()"><hugeicons-icon
                            [icon]="Attachment02Icon" [size]="20" [strokeWidth]="1.5"></hugeicons-icon></button>

                    <input type="text" [(ngModel)]="message" placeholder="Écris ton message..."
                        (keydown.enter)="onSend()" />

                    <button type="button" class="btn-right" (click)="onSend()" [disabled]="messageLoading == true">
                        <hugeicons-icon *ngIf="messageLoading == false" [icon]="ArrowUpRight01Icon" [size]="20"
                            [strokeWidth]="1.5"></hugeicons-icon>
                        <div class="loader" *ngIf="messageLoading == true"></div>
                    </button>
                </div>
                <!--input type="text" class="msgInput" placeholder="Ask a question or make a request..."-->
                <p class="inputBtmText">Le lorem ipsum est, en imprimerie, une suite de mots sans signification</p>
            </div>
        </div>
    </div>
</div>