<div class="container">
    <div *ngIf="isMainPage">
        <div class="dashHeader">
            <h3>Litiges</h3>
            <p>Gérez vos litiges en cours et suivez leur statut en temps réel.</p>
        </div>

        <div class="dashSelectorElements">
            <div *ngFor="let categorie of categories; let i = index" class="dashElementsItem"
                [ngClass]="{ 'firstChild': categorie.status === true }" (click)="selectCategory(i)">
                <hugeicons-icon [icon]="categorie.icon" [size]="24" color="#000000"
                    [strokeWidth]="1.5"></hugeicons-icon>
                {{ categorie.name }}
            </div>
        </div>

        <div class="dashboardFooter">
            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>ID du litige</th>
                            <th>Contrat associée</th>
                            <th>Montant contesté</th>
                            <th>Date de création</th>
                            <th>Statut du litige</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let litige of filtrerdLitiges">
                            <td>#{{ litige.lid }}</td>
                            <td>{{ litige.contratId.contractReplies.nom }}</td>
                            <td>{{ litige.contratId.contractReplies.tarif }}$</td>
                            <td>{{ litige.createdAt | moment: 'dateHour' }}</td>
                            <td>
                                <span class="status"
                                    [ngClass]="{ 'actif': litige.status === 'ouvert', 'inactif': litige.status === 'en_cours', 'suspendu': litige.status === 'rembourse', 'suspendue': litige.status === 'perdu' }">
                                    {{ litige.status }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="!isMainPage">
        <router-outlet></router-outlet>
    </div>
</div>