<div class="container global-container">
    <div class="navBar">
        <div class="logo"><img src="../../../assets/logo/logo.svg" alt=""></div>
    </div>

    <div class="bodyCtnr">
        <div class="askCtnr">
            <div class="askHeader">
                <h1>John, votre compte a été créé ! Qu'est-ce qui vous amène chez Payora ?</h1>
                <p>Nous adapterons votre expérience à vos besoins.</p>
            </div>
            <div class="askForm">
                <div class="row">
                    <div class="col-6">
                        <div class="clientSelct">
                            <div class="leftSetClient">
                                <img src="../../../assets/svg/client_ask.svg" alt="">
                                <h5>Je suis un client</h5>
                                <p>Je souhaite commander des services de freelance.</p>
                            </div>
                            <div class="rightSetClient">
                                <div class="checkCase"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="prestaSelct">
                            <div class="leftSetPresta">
                                <img src="../../../assets/svg/presta_ask.svg" alt="">
                                <h5>Je suis un prestataire</h5>
                                <p>Je cherche à proposer mes services.</p>
                            </div>
                            <div class="rightSetPresta">
                                <div class="checkCase"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="askFooter">
                <button (click)="goToDashboard()" class="">Sauter</button>
            </div>
        </div>
    </div>
</div>