<div class="container global-container">
    <div class="navBar">
        <div class="logo"><img src="../../../assets/logo/logo.svg" alt=""></div>
    </div>

    <div class="bodyCtnr">
        <div class="askCtnr">
            <div class="askHeader">
                <h1>{{userInfo.displayName}}, votre compte a été créé ! Qu'est-ce qui vous amène chez Payora ?</h1>
                <p>Nous adapterons votre expérience à vos besoins.</p>
            </div>
            <div class="askForm">
                <div class="row">
                    <div class="col-6">
                        <div class="clientSelct" (click)="selectType('client')"
                            [ngClass]="isClientSelected ? 'active' : ''">
                            <div class="leftSetClient">
                                <img src="../../../assets/svg/client_ask.svg" alt="">
                                <h5>Je suis un client</h5>
                                <p>Je souhaite commander des services de freelance.</p>
                            </div>
                            <div class="rightSetClient">
                                <div class="checkCase">
                                    <hugeicons-icon [icon]="Tick02Icon" [size]="22" [strokeWidth]="3"></hugeicons-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="prestaSelct" (click)="selectType('presta')"
                            [ngClass]="isPrestaSelected ? 'active' : ''">
                            <div class="leftSetPresta">
                                <img src="../../../assets/svg/presta_ask.svg" alt="">
                                <h5>Je suis un prestataire</h5>
                                <p>Je cherche à proposer mes services.</p>
                            </div>
                            <div class="rightSetPresta">
                                <div class="checkCase">
                                    <hugeicons-icon [icon]="Tick02Icon" [size]="24"
                                        [strokeWidth]="2.5"></hugeicons-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="askFooter">
                <button (click)="updateUserType()" class="" [disabled]="isLoading">
                    <div style="display: flex;align-items: center;justify-content: center;gap: 5px;">
                        Valider
                        <div class="loader" *ngIf="isLoading">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                            <div class="bar4"></div>
                            <div class="bar5"></div>
                            <div class="bar6"></div>
                            <div class="bar7"></div>
                            <div class="bar8"></div>
                            <div class="bar9"></div>
                            <div class="bar10"></div>
                            <div class="bar11"></div>
                            <div class="bar12"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>