<div class="container">
    <div class="dashHeader">
        <h3>Tableau de Bord, <span style="text-decoration: underline;"
                *ngIf="!homeData.boardType || homeData.boardType == 'presta'">prestataire</span> <span
                style="text-decoration: underline;" *ngIf="homeData.boardType == 'client'">client</span></h3>
        <p>Vue d’ensemble de vos revenus, contrats et fonds disponibles. Surveillez votre activité et prenez des
            décisions rapides.</p>
    </div>
    <div class="bordFirstelement" *ngIf="!homeData.boardType || homeData.boardType == 'presta'">
        <div class="row">
            <div class="col-4">
                <div class="boardFirstcard">
                    <div class="cardHeader">
                        <h5>Revenue</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>${{ dashboardData.revenuTotal }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                <div
                                    style="display: flex;background-color: #FFF;padding: 2.5px 10px;border-radius: 30px;opacity: .7;font-weight: 600;">
                                    <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="12" color="#222325"
                                        [strokeWidth]="1.5"></hugeicons-icon>
                                    + {{ dashboardData.revenuGrowth }}%
                                </div>
                                par rapport au mois dernier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="boardSecondcard">
                    <div class="cardHeader">
                        <h5>Contrats total</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>{{ dashboardData.contratTotal }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                <div
                                    style="display: flex;background-color: #59f25976;padding: 2.5px 10px;border-radius: 30px;opacity: .7;font-weight: 600;">
                                    <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="12" color="#222325"
                                        [strokeWidth]="1.5"></hugeicons-icon>
                                    + {{ dashboardData.contratGrowth }}%
                                </div>
                                par rapport au mois dernier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="boardThirdcard">
                    <div class="cardHeader">
                        <h5>Fonds disponibles</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>${{ dashboardData.fondDispo }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                <div
                                    style="display: flex;background-color: #59f25976;padding: 2.5px 10px;border-radius: 30px;opacity: .7;font-weight: 600;">
                                    <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="12" color="#222325"
                                        [strokeWidth]="1.5"></hugeicons-icon>
                                    + {{ dashboardData.fondDispoGrowth }}%
                                </div>
                                par rapport au mois dernier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bordFirstelement clientBoard" *ngIf="homeData.boardType == 'client'">
        <div class="row">
            <div class="col-4">
                <div class="boardFirstcard">
                    <div class="cardHeader">
                        <h5>Sommes totales dépensées</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>${{ dashboardData.revenuTotal }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                <div
                                    style="display: flex;background-color: #FFF;padding: 2.5px 10px;border-radius: 30px;opacity: .7;font-weight: 600;">
                                    <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="12" color="#222325"
                                        [strokeWidth]="1.5"></hugeicons-icon>
                                    + {{ dashboardData.revenuGrowth }}%
                                </div>
                                par rapport au mois dernier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="boardSecondcard">
                    <div class="cardHeader">
                        <h5>Contrats total</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>{{ dashboardData.contratTotal }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                <div
                                    style="display: flex;background-color: #59f25976;padding: 2.5px 10px;border-radius: 30px;opacity: .7;font-weight: 600;">
                                    <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="12" color="#222325"
                                        [strokeWidth]="1.5"></hugeicons-icon>
                                    + {{ dashboardData.contratGrowth }}%
                                </div>
                                par rapport au mois dernier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="boardThirdcard">
                    <div class="cardHeader">
                        <h5>Fonds disponibles sur les contrats</h5>
                        <div class="headIconTop">
                            <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </div>
                    </div>
                    <div class="cardCtntElem">
                        <div>
                            <h2>${{ dashboardData.fondDispo }}</h2>
                        </div>
                        <div class="footerBottomCard">
                            <div class="footerLeftBtn">
                                Sommes totales placées sur les contrats en cours
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boardSecondElement">
        <div class="row">
            <div class="col-8">
                <div class="leftChartCtnr" *ngIf="!homeData.boardType || homeData.boardType == 'presta'">
                    <div class="cardHeader">
                        <h5>Évolution des contrats</h5>
                        <p>Suivez la création de nouveaux contrats et la croissance de votre portefeuille.</p>
                    </div>
                    <div class="cardBody">
                        <div *ngIf="isBrowser">
                            <canvas height="260" baseChart [data]="barChartData" [type]="'bar'"
                                [options]="barChartOptions"></canvas>
                        </div>
                    </div>
                </div>
                <div class="leftChartCtnr" *ngIf="homeData.boardType == 'client'">
                    <div class="cardHeader">
                        <h5>Évolution des sommes dépensé mensuellement</h5>
                        <p>Suivez la création de nouveaux contrats et la croissance de votre portefeuille.</p>
                    </div>
                    <div class="cardBody">
                        <div *ngIf="isBrowser">
                            <canvas height="260" baseChart [data]="barChartData" [type]="'bar'"
                                [options]="barChartOptions"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="rightChartCtnr">
                    <div class="cardHeader">
                        <h5>Satisfaction client</h5>
                        <p>Évolution du taux de satisfaction client</p>
                    </div>
                    <div class="cardBody">
                        <div *ngIf="isBrowser">
                            <canvas baseChart height="180" [data]="doughnutChartData" [type]="'doughnut'"
                                [options]="doughnutChartOptions"></canvas>
                        </div>
                        <div class="doughnutChartText">
                            Suivez le niveau de satisfaction de vos clients en temps réel pour améliorer la qualité de
                            vos services et réduire les litiges.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="boardThirdElement">
        <div class="row">
            <div class="col-4">
                <div class="leftElementCtnr">
                    <div class="cardHeader">
                        <h5>Actions rapides</h5>
                    </div>
                    <div class="cardBody">
                        <div class="listCtnr">
                            <div class="item" (click)="goToPage('create')">
                                <div class="leftelement">
                                    <div class="iconBtnCtnr">
                                        <hugeicons-icon [icon]="Agreement03Icon" [size]="20" color="#222325"
                                            [strokeWidth]="1.5"></hugeicons-icon>
                                    </div>
                                    <p>Créer un contrat</p>
                                </div>
                                <hugeicons-icon [icon]="ArrowRight01Icon" [size]="24" color="#222325"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                            </div>
                            <div class="item" (click)="goToPagescnd('lawyer')">
                                <div class="leftelement">
                                    <div class="iconBtnCtnr">
                                        <hugeicons-icon [icon]="ChartBreakoutSquareIcon" [size]="20" color="#222325"
                                            [strokeWidth]="1.5"></hugeicons-icon>
                                    </div>

                                    <p>Voir le juriste virtuel</p>
                                </div>
                                <hugeicons-icon [icon]="ArrowRight01Icon" [size]="24" color="#222325"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="rightElementCtnr">
                    <div class="table-container">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Concerné</th>
                                    <th>Date de création</th>
                                    <th>Valeur du contrat</th>
                                    <th>États du contrat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>
                                        <span class="status"
                                            [ngClass]="{ 'actif': user.status === 'Actif', 'inactif': user.status === 'Inactif', 'suspendu': user.status === 'Suspendu' }">
                                            {{ user.status }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <div class="EmptyElement">
                                <img src="../../../../../assets/icones/page.png" alt="">
                                <p>Aucun contrat trouvé</p>
                            </div>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="loaderCtnr" *ngIf="isLoading">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
            <div class="bar7"></div>
            <div class="bar8"></div>
            <div class="bar9"></div>
            <div class="bar10"></div>
            <div class="bar11"></div>
            <div class="bar12"></div>
        </div>
    </div>
</div>