.container {
    padding: 30px 50px;
}
.dashHeader {
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;

    h3 {
        font-size: 22px;
        color: #202020;
    }

    p {
        font-size: 13px;
        color: #3c3c3c;
    }
}