<div class="container">
    <div *ngIf="isMainPage">
        <div class="dashHeader">
            <h3>Transactions</h3>
            <p>Consultez, filtrez et gérez tous vos contrats en cours. Suivez leur état et leur valeur en temps réel.
            </p>
        </div>
        <div class="bordFirstelement" *ngIf="transactions">
            <div class="row">
                <div class="col-4">
                    <div class="boardFirstcard">
                        <div class="cardHeader">
                            <h5>Transactions total</h5>
                            <div class="headIconTop">
                                <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                            </div>
                        </div>
                        <div class="cardCtntElem">
                            <div>
                                <h2>{{ transactions.length }}</h2>
                            </div>
                            <div class="footerBottomCard">
                                <div class="footerLeftBtn">
                                    Montant disponible sur le compte
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="boardSecondcard">
                        <div class="cardHeader">
                            <h5>Montant total traité</h5>
                            <div class="headIconTop">
                                <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                            </div>
                        </div>
                        <div class="cardCtntElem">
                            <div>
                                <h2>-</h2>
                            </div>
                            <div class="footerBottomCard">
                                <div class="footerLeftBtn">
                                    Total des revenus générés ce mois-ci.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="boardThirdcard">
                        <div class="cardHeader">
                            <h5>Litiges en cours</h5>
                            <div class="headIconTop">
                                <hugeicons-icon [icon]="ArrowUpRight03Icon" [size]="24" color="#222325"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                            </div>
                        </div>
                        <div class="cardCtntElem">
                            <div>
                                <h2>-</h2>
                            </div>
                            <div class="footerBottomCard">
                                <div class="footerLeftBtn">
                                    Total des paiements sortants et frais.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboardFooter">
            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Nom du contrat</th>
                            <th>Montant</th>
                            <th>Statut</th>
                            <th>Date de création</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactions" (click)="goToPage('detail', transaction.tid)">
                            <td>
                                {{ transaction.tid }}
                            </td>
                            <td>{{ transaction.contractId.contractReplies.nom }}</td>
                            <td>{{ transaction.montant }}$</td>
                            <td>
                                <span class="status"
                                    [ngClass]="{ 'actif': transaction.status === 'Actif', 'inactif': transaction.status === 'Inactif', 'suspendu': transaction.status === 'Suspendu' }">
                                    {{ transaction.status }}
                                </span>
                            </td>
                            <td>{{ transaction.createdAt | moment: 'dateHour'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div *ngIf="!isMainPage">
        <router-outlet></router-outlet>
    </div>
</div>