.container {
    padding: 30px 50px;
}

.dashHeader {
    background-color: #59F25A;
    height: 250px;
    border-radius: 20px;
    padding: 20px 30px;
    
    h3 {
        font-size: 22px;
        color: #333;
    }

    p {
        font-size: 14px;
        color: #3c3c3c;
    }
}

.bordFirstelement {
    width: 90%;
    margin-left: 5%;
    margin-top: -120px;

    .boardFirstcard,
    .boardSecondcard,
    .boardThirdcard {
        height: 200px;
        width: 100%;
        border-radius: 20px;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cardHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                font-weight: 400;
            }

            .headIconTop {
                background-color: #FFF;
                width: 35px;
                height: 35px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .cardCtntElem {
            h2 {
                font-weight: 600;
            }

            .footerBottomCard {
                display: flex;
                align-items: center;

                .footerLeftBtn {
                    margin-bottom: 0;
                    font-size: 13px;
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }

    .boardFirstcard {
        background-color: #FFF;
    }

    .boardSecondcard {
        background-color: #FFF;

        .headIconTop {
            background-color: #59F25A !important;
        }
    }

    .boardThirdcard {
        background-color: #FFF;

        .headIconTop {
            background-color: #59F25A !important;
        }
    }
}

.dashboardFooter{
    margin-top: 20px;

    .table-container {
            overflow-x: auto;
            border-radius: 20px;
        }

        .custom-table {
            width: 100%;
            font-family: Arial, sans-serif;
            font-size: 14px;
            border-collapse: collapse;

            .leftIconStepElem {
                display: flex;
                gap: 7.5px;
                align-items: center;
            }
        }

        .custom-table thead {
            width: 100%;
            background-color: #FFF;

            th {
                padding: 15px 20px;
                border-bottom: 1px solid #d1d1d1;
                text-align: left;
                font-size: 13px;
            }
        }

        .custom-table tbody tr {
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        .custom-table tbody tr {
            border-radius: 12px;
            background-color: #FFF;
        }

        .custom-table th,
        .custom-table td {
            padding: 15px 20px;
            text-align: left;
        }

        /* Statut coloré */
        .status {
            font-weight: bold;
            padding: 7.5px 30px;
            font-size: 11px;
            border-radius: 30px;
        }

        .status.actif {
            color: #0a930a;
            background-color: #e4fbe4;
        }

        .status.inactif {
            color: #a17d00;
            background-color: #fff9e0;
        }

        .status.suspendu {
            color: #c00000;
            background-color: #fde0e0;
        }
}